* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
}

a {
    text-decoration: none;
}

.menu {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    position: relative;
    width: 200px;
    height: 60px;

    font-size: 24px;

    background: #2196f3;
    color: #fff;

    border: none;
    outline: none;
    box-shadow: none;

    cursor: pointer;
}

ul {
    position: absolute;

    width: 100%;

    background: #ccc;

    transform: perspective(1000px) rotateX(-90deg);
    transform-origin: top;
    transition: 0.5s;
}

ul.active {
    transform: perspective(1000px) rotateX(0deg);
}

ul li a {
    display: block;
    height: 60px;

    text-align: center;
    line-height: 60px;

    background: #131313;
    color: #fff;

    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

ul li a:hover {
    background: #2196f3;
}
